# EDA
1. Data Profiling
2. Stastical analysis
3. Graphical Analysis
    Dataset: https://archive.ics.uci.edu/ml/datasets/Algerian+Forest+Fires+Dataset++#

# Importing all the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_columns', 500)

# 1.0 Importing dataset and cleaning data

In [8]:
dataset=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header=1 )
dataset.head(15)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
5,06,06,2012,31,67,14,0,82.6,5.8,22.2,3.1,7,2.5,fire
6,07,06,2012,33,54,13,0,88.2,9.9,30.5,6.4,10.9,7.2,fire
7,08,06,2012,30,73,15,0,86.6,12.1,38.3,5.6,13.5,7.1,fire
8,09,06,2012,25,88,13,0.2,52.9,7.9,38.8,0.4,10.5,0.3,not fire
9,10,06,2012,28,79,12,0,73.2,9.5,46.3,1.3,12.6,0.9,not fire
10,11,06,2012,31,65,14,0,84.5,12.5,54.3,4,15.8,5.6,fire
11,12,06,2012,26,81,19,0,84,13.8,61.4,4.8,17.7,7.1,fire
12,13,06,2012,27,84,21,1.2,50,6.7,17,0.5,6.7,0.2,not fire
13,14,06,2012,30,78,20,0.5,59,4.6,7.8,1,4.4,0.4,not fire
14,15,06,2012,28,80,17,3.1,49.4,3,7.4,0.4,3,0.1,not fire

In [5]:
dataset.shape

(246, 14)

In [9]:
dataset.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [11]:


# Assuming 'df' is your DataFrame
# The following code will create a Boolean Series for each row, where True indicates at least one null value in that row.
null_rows = dataset.isnull().any(axis=1)

# You can then use the null_rows Boolean Series to filter the DataFrame and get rows with at least one null value.
rows_with_null = dataset[null_rows]

# Now, 'rows_with_null' contains all rows with at least one null value.
rows_with_null

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN